<div class="container">
    <div class="row py-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <h5 class="fw-bold mb-3">Corporate Knowledge Base</h5>
            <p class="text-muted">Platform for fast and easy access to internal knowledge and documentation.</p>
        </div>

        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
            <h6 class="text-uppercase fw-bold mb-3">Quick Links</h6>
            <ul class="list-unstyled mb-0">
                <li class="mb-2">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="text-white-50">Home</a>
                </li>
                <li class="mb-2">
                    <a asp-area="" asp-controller="Blog" asp-action="Index" class="text-white-50">Blog</a>
                </li>
                <li class="mb-2">
                    <a asp-area="" asp-controller="Document" asp-action="Index" class="text-white-50">Documents</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
            <h6 class="text-uppercase fw-bold mb-3">Resources</h6>
            <ul class="list-unstyled mb-0">
                <li class="mb-2">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-white-50">Privacy Policy</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <h6 class="text-uppercase fw-bold mb-3">Follow Us</h6>
            <div>
                <a href="https://github.com/umitkrkmz" target="_blank" class="btn btn-outline-light btn-floating m-1">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://linkedin.com/in/zeynel-ümit-korkmaz/" target="_blank" class="btn btn-outline-light btn-floating m-1">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
        </div>
    </div>

    <hr class="bg-light">
    <div class="text-center p-3">
        &copy; @DateTime.Now.Year - Corporate Knowledge Base
    </div>
</div>