@model CorporateKnowledgeBase.Web.Models.Category

@{
    ViewData["Title"] = $"Edit Category: {Model.Name}";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
</div>

<div class="card shadow-sm">
    <form asp-action="Edit">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Category Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer text-end bg-light">
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            <input type="submit" value="Save Changes" class="btn btn-primary" />
        </div>
    </form>
</div>